.container {
    
}

header {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    height: 300px;
    width: 80%;
    display: block;
    position: relative;
}

header::after {
    content: "";
    background-image: url("../images/movie-reel.jpg");
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h1 {
    font-family: Warnes;
    font-size: 50px;
}

h2 {
    font-family: Aclonica;
    font-size: 50px;
}

h3 {
    font-family: Aclonica;
    font-size: 40px;
}

.underscore {
    border: 3px solid black;
    font-size: 100px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%; 
}

.correctGuess {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%; 
}

.wrongGuess {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 50px auto;
    height: 150px;
    width: 80%; 
}